<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=baa328bb-2303-4ca3-b016-328421ff245c&lang=ru_RU&onload=init"
            type="text/javascript"></script>
    <script src="maps.js" type="text/javascript"></script>
  </head>

  <body class="bg-light">




  <header class="mb-5">
    <div class=" navbar-dark bg-secondary box-shadow">
      <div class="container d-flex justify-content-between">
        <div class="col-6 float-left font-weight-bold pt-3">
          <%= link_to t('app.name'), root_path, class: 'navbar-brand d-flex align-items-cente' %>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="list-unstyled">
            <% if user_signed_in? %>
              <li><%= link_to 'Профиль', current_user, class: 'text-white float-right ml-5' %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'text-white float-right ml-5' %></li>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path, class: 'text-white float-right ml-5' %></li>
              <li><%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'text-white float-right ml-5' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div><!--/row-->

    <hr/>
    <footer>
      <p>&copy; <%= t('app.company') %> 2020</p>
    </footer>

  </div> <!-- /container -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
          integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
